<mat-toolbar>
  <mat-form-field class="example-full-width">
    <mat-label>Veterinarias</mat-label>
    <input matInput type="text" placeholder="Veterinarias">
    <button matSuffix mat-icon-button aria-label="Veterinarias">
      <mat-icon>search</mat-icon>
    </button>
  </mat-form-field>
  <div>
    <button mat-icon-button class="filter-list-icon" aria-label="Example icon-button with filter list icon">
      <mat-icon>filter_list</mat-icon>
    </button>
    <p>Filtros</p>
  </div>
</mat-toolbar>
<div>
  <div class="card-left">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Paws & Claws</mat-card-title>
        <mat-card-subtitle>Cirugía</mat-card-subtitle>
      </mat-card-header>
      <mat-card-actions>
        <button mat-icon-button class="filter-list-icon" aria-label="Example icon-button with filter list icon">
          <mat-icon>add</mat-icon>
        </button>
        <button mat-icon-button class="filter-list-icon" aria-label="Example icon-button with filter list icon">
          <mat-icon>calendar_today</mat-icon>
        </button>
        <button mat-icon-button class="filter-list-icon" aria-label="Example icon-button with filter list icon">
          <mat-icon>bookmark</mat-icon>
        </button>
        <div class="stars">
          <mat-icon>star</mat-icon><mat-icon>star</mat-icon><mat-icon>star</mat-icon><mat-icon>star</mat-icon><mat-icon>star</mat-icon>
        </div>
        <button mat-icon-button class="filter-list-icon" aria-label="Example icon-button with filter list icon">
          <mat-icon>more_horiz</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
    <mat-card>
      <mat-card-header>
        <mat-card-title>VetMascotas</mat-card-title>
        <mat-card-subtitle>Cirugía</mat-card-subtitle>
      </mat-card-header>
      <mat-card-actions>
        <button mat-icon-button class="filter-list-icon" aria-label="Example icon-button with filter list icon">
          <mat-icon>add</mat-icon>
        </button>
        <button mat-icon-button class="filter-list-icon" aria-label="Example icon-button with filter list icon">
          <mat-icon>calendar_today</mat-icon>
        </button>
        <button mat-icon-button class="filter-list-icon" aria-label="Example icon-button with filter list icon">
          <mat-icon>bookmark</mat-icon>
        </button>
        <div class="stars">
          <mat-icon>star</mat-icon><mat-icon>star</mat-icon><mat-icon>star</mat-icon><mat-icon>star</mat-icon><mat-icon>star</mat-icon>
        </div>
        <button mat-icon-button class="filter-list-icon" aria-label="Example icon-button with filter list icon">
          <mat-icon>more_horiz</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
    <mat-card>
      <mat-card-header>
        <mat-card-title>PetVitality</mat-card-title>
        <mat-card-subtitle>Cirugía</mat-card-subtitle>
      </mat-card-header>
      <mat-card-actions>
        <button mat-icon-button class="filter-list-icon" aria-label="Example icon-button with filter list icon">
          <mat-icon>add</mat-icon>
        </button>
        <button mat-icon-button class="filter-list-icon" aria-label="Example icon-button with filter list icon">
          <mat-icon>calendar_today</mat-icon>
        </button>
        <button mat-icon-button class="filter-list-icon" aria-label="Example icon-button with filter list icon">
          <mat-icon>bookmark</mat-icon>
        </button>
        <div class="stars">
          <mat-icon>star</mat-icon><mat-icon>star</mat-icon><mat-icon>star</mat-icon><mat-icon>star</mat-icon><mat-icon>star</mat-icon>
        </div>
        <button mat-icon-button class="filter-list-icon" aria-label="Example icon-button with filter list icon">
          <mat-icon>more_horiz</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div class="card-right">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Provet</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>Brindamos atención integral y compasiva a todas las mascotas que nos visitan. Nos enorgullece ofrecer servicios de alta calidad que promueven la salud y el bienestar de los animales.</p>
      </mat-card-content>
      <img mat-card-image ngSrc="../../../../assets/img/clinica-veterinaria.jpg" alt="Photo of a Shiba Inu" height="470"
           width="685">
      <mat-card-actions>
        <button mat-icon-button class="filter-list-icon" aria-label="Example icon-button with filter list icon">
          <mat-icon>add</mat-icon>
        </button>
        <button mat-icon-button class="filter-list-icon" aria-label="Example icon-button with filter list icon">
          <mat-icon>calendar_today</mat-icon>
        </button>
        <button mat-icon-button class="filter-list-icon" aria-label="Example icon-button with filter list icon">
          <mat-icon>bookmark</mat-icon>
        </button>
        <span class="example-spacer"></span>
        <button mat-icon-button class="filter-list-icon" aria-label="Example icon-button with filter list icon">
          <mat-icon>more_horiz</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
    <button mat-flat-button class="reserve-button">Reservar Cita</button>
  </div>
</div>

