<div class="title-services">
  <h1>Servicios</h1>
  <h2>Los tipos de atención y cuidado que ofrecemos para las mascotas</h2>
</div>
<div class="card-left">
  <mat-card>
    <img mat-card-image src="../../../assets/perro-emergencia.jpg" alt="Photo of a Shiba Inu" height="240"
         width="360">
    <mat-card-header>
      <mat-card-title>Atención de emergencia</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        Disponibilidad de atención veterinaria fuera del horario laboral regular para casos de emergencia médica.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>Más información
        <mat-icon class="icon-arrow">arrow_forward</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
  <mat-card>
    <img mat-card-image src="../../../assets/gato-jaula.jpg" alt="Photo of a Shiba Inu" height="240"
         width="350">
    <mat-card-header>
      <mat-card-title>Consultas generales</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        Evaluación médica general de la mascota para detectar problemas de salud y hacer recomendaciones de cuidado preventivo.      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>Más información
        <mat-icon class="icon-arrow">arrow_forward</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
  <mat-card>
    <img mat-card-image src="../../../assets/gato-inyeccion.webp" alt="Photo of a Shiba Inu" height="240"
         width="325">
    <mat-card-header>
      <mat-card-title>Vacunación</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        Administración de vacunas para proteger a las mascotas contra enfermedades comunes como la rabia, moquillo, hepatitis, entre otras.      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>Más información
        <mat-icon class="icon-arrow">arrow_forward</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
  <mat-card>
    <img mat-card-image src="../../../assets/cirugia-veterinaria.webp" alt="Photo of a Shiba Inu" height="240"
         width="340">
    <mat-card-header>
      <mat-card-title>Cirugía</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        Realización de procedimientos quirúrgicos tanto de rutina (esterilización, castración) como de emergencia.      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>Más información
        <mat-icon class="icon-arrow">arrow_forward</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</div>
